{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Serveurs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('serv.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table>
	 <thead>
        <tr>
            <th colspan="6">Server Modbus</th>
        </tr>
	</thead>
  {% for s in serv %}

    <tbody>
        <tr>
            <td>{{s['adresse']}}</td>
            <td>{{s['port']}}</td>
			<td>{{s['size']}} registers </td>
			<td>{{s['username'] }}</td>
			<td>{{s['created'].strftime('%Y-%m-%d')}}</td>
			<td><form action="{{ url_for('serv.delete', id=s['id']) }}" method="post">
					<input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
				</form>
			</td>
			
        </tr>
    </tbody>
  {% endfor %}
  </table>
{% endblock %}
